@{
    ViewBag.Title = "Usuarios";
    Layout = Session["layout"].ToString();
}
<section class="mbr-section article" id="msg-box3-1" style="padding-top: 30px; padding-bottom: 30px; min-height:400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <div style="text-align:center">
                    <h1>Contacto Finalizado</h1>
                    <p style="padding:30px 0px">
                        Gracias por ponerte en contacto con nuestro equipo de apoyo. <br />Un ticket de soporte ahora se ha abierto para tu solicitud. <br />Se te notificará cuando tengamos una respuesta vía correo electrónico
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

