
<div class="panel-heading small panel-middle">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-blue">
                        <span class="font-strong">@ViewBag.nombre</span>
                    </span>
                </div>
                <div class="col-md-6 text-right">
                    <span class="font-blue"><span class="font-strong">@ViewBag.fecha</span></span>
                </div>
            </div>
        </div>
        <div class="panel-body small panel-middle">
            <div>
                @ViewBag.mensaje

            </div>


        </div>